[user]
	email = jonas.dev@pleyer.org
	name = Jonas Pleyer
[core]
	editor = nvim
	autocrlf = input
	fileMode = false
[credential]
	helper = cache
[safe]
	directory = .
	directory = /home/jonas
[diff "pandoc"]
	textconv = pandoc --to=markdown
    prompt= false
[diff "pandoc"]
    textconv = pandoc --to=markdown
[alias]
	wdiff = diff --word-diff=color --unified=1
[init]
	defaultBranch = main
